[build]
    builder = "DOCKERFILE"
    dockerfilePath = "backend/Dockerfile"

[deploy]
    startCommand = "node dist/main"
    healthcheckPath = "/"
    healthcheckTimeout = 100
    restartPolicyType = "ON_FAILURE"
